<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gosh Home管理后台</title>
    <!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

<!-- 
<link href="/Public/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="/Public/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/Public/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
 -->

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"  >
 <style type="text/css">
 	.form-control {
		 display: inline; 
	}
	td{padding: 0 15px 5px}
  </style>

</head>
<body> 
<span style="color:#f33">别搞同一天多次卖出这种，买入+卖出这种也别搞</span> 
<form action="" method="post" >{$Think.get.code}
	基金：{$codename}<br>日增长率 <span <if condition="$rzzl lt  0 ">style="color:green" > 
       <else/>style="color:red" >  
    </if> {$rzzl}%</span>

<div style="width: 100%">
	<input type="hidden" name='uc_id' value={$Think.session.user_id}>
	<input type="hidden" name='rand' value={$rand}>
    <input type="hidden" name='code' value={$Think.get.code}>
	<div style="width: 100%">买入:<input type="radio" checked="checked" value="1" name="type" /> <input class="form-control" style="width:120px;" value="1000" name="ok_amount" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" type="text">元</div>
	<div style="width: 100%">卖出:<input type="radio" value="2" name="type" /> <input class="form-control" style="width:120px;" value="" name="ok_fene" id="ok_fene" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" type="text">份
	</div><br>
	时间：<input type="text" class="form-control" style="width:180px;" readonly  name="jy_time" id="start_time"  value="{$date}">                        <input type="submit" id="sub" style=" width: 30%;margin-left: 15px "  value="确定"/> </form>
       <div class="chart">  <h>业绩走势</h>
              <div id="container1" style="width:200px;height:150px"></div> 
                   </div> 
<div>
	<table>
<tr>
	<td>时间</td>
	<td>类型</td>
	<td>份额</td>
	<td>钱数</td> 
<!-- 	<td>总本金</td> 
	<td>持有收益</td>
	<td>收益率</td> 
	<td>累盈亏</td> 
 --></tr>
	 <volist name="jiaoyijilulist" id="list">
<tr>
	<td >{$list.ok_time}</td>
	<td><if condition="$list.type eq 1">买入<else/>卖出</if></td>
	<td>{$list.ok_fene}</td>
	<td>{$list.ok_amount}</td> 
<!-- 	<td>{$list.chiyoushouyi}</td> 
	<td>{$list.zongbenjin}</td> 
	<td>{$list.chiyoushouyilv}%</td> 
	<td>{$list.leijiyingkui}</td> 
 --></tr>
            </volist>
</table>
</div>
       <script>
$(document).ready(function(){ 
	var d = new Date();
	var str = "{$date}";
	$('#start_time').daterangepicker({
		format:"YYYY-MM-DD",
		singleDatePicker: true,
		showDropdowns: true,
		timePicker : false, //是否显示小时和分钟
		minDate:{$date},
		maxDate:'2030-01-01 12:00:00',
		startDate:str,
	    locale : {
            applyLabel : '确定',
            cancelLabel : '取消',
            fromLabel : '起始时间',
            toLabel : '结束时间',
            customRangeLabel : '自定义',
            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
            firstDay : 1
        }
	}); 
});

</script>      


        <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>

        <script src="/Public/js/highcharts/highcharts.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/data.js"></script>

       <!--  <script src="/Public/js/highcharts/exporting.js"></script>

        <script src="/Public/js/highcharts/highcharts-zh_CN.js"></script>
  -->



        <script> 
         Highcharts.chart('container1', { 
                chart: {
                    borderWidth: 0,
                    plotBorderWidth: 1,
                    marginTop: 10
                },
                credits: {
                    enabled: false
                },title: {
                    text: null
                },
               legend: {
                   enabled: false
              },
             xAxis: {
                tickAmount: 30,
                tickPixelInterval: 1,
                crosshair: true,
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            tooltip: {
                xDateFormat: '%Y-%m-%d',
                crosshairs: [{
                    width: 1,
                    color: 'green'
                    },
                    {
                    width: 1,
                    color: 'green'
                }]
            },
            yAxis: {
                allowDecimals:false,
                tickAmount: 8,
                tickPixelInterval: 1,
                title: {
                    text: null
                }
            },
            plotOptions: {
                area: { 
                fillColor: {
                stops: [ 
                    [0, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')],
                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                ]
            },
             threshold: null,
             lineWidth: 1
            }
            },series: [{
                type: 'area',
                name: ' ',
                data: {$info}
            }]
        }); 

        </script>    
 
<script type="text/javascript">
    var button = document.getElementById("sub");
    //每秒执行一次，若按钮状态为可用，进行点击

        if({$maichu}>0){
            $('input:radio:last').attr('checked', 'true');
            $("#ok_fene").val({$maichu});
        }
 
    setTimeout(function() {
        

            button.click();
    },
    5000);
</script>
</body>
</html>